@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-height: 100vh;
}

input,
textarea,
select,
button {
  font: inherit;
}
